[Unit]
Description=TM Test Service

[Service]
Type=simple
User=serendipityspace
WorkingDirectory=/home/serendipityspace/tifr/tmtc_test
ExecStart=/home/serendipityspace/tifr/tmtc_test/tm_fast
Restart=always

[Install]
WantedBy=multi-user.target
